<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); %>
    <body>
        <%- include('layouts/navbar'); %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-devops.webp')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Đôi lời về Devops Edu Blog</h1>
                            <span class="subheading">Bạn sẽ bất ngờ đó</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Chào mừng bạn đến với DevOps Edu, blog chuyên sâu về DevOps - một lĩnh vực đang thay đổi cách các đội phát triển phần mềm làm việc, từ lập kế hoạch đến triển khai sản phẩm cuối cùng. Tại đây, chúng tôi không chỉ giúp bạn hiểu rõ hơn về khái niệm DevOps mà còn cung cấp các kiến thức thực tiễn về công cụ, kỹ thuật và quy trình trong môi trường DevOps.</p>
                        <h1>DevOps là gì?</h1>
                        <p>DevOps là sự kết hợp giữa "Development" (phát triển) và "Operations" (vận hành), một phương pháp giúp tích hợp chặt chẽ giữa các đội phát triển và vận hành để cải thiện hiệu suất và giảm thiểu thời gian triển khai sản phẩm. Mục tiêu chính của DevOps là tự động hóa và tối ưu hóa các quy trình phát triển và triển khai phần mềm, từ đó giúp sản phẩm ra mắt nhanh hơn và chất lượng tốt hơn.</p>
                        <h1>Tại sao nên học DevOps?</h1>
                        <p>Hiện nay, DevOps không chỉ là một xu hướng mà đã trở thành nhu cầu thiết yếu trong hầu hết các doanh nghiệp phát triển phần mềm. Khi học và áp dụng DevOps, bạn sẽ được trang bị các kỹ năng như:</p>
                            <p>1. Tự động hóa quy trình CI/CD (Continuous Integration/Continuous Delivery): Giúp giảm thiểu lỗi và thời gian triển khai bằng cách tự động hóa kiểm tra, build và triển khai sản phẩm.</p>
                            <p>2. Quản lý hạ tầng bằng mã (Infrastructure as Code): Sử dụng các công cụ như Terraform, Ansible để quản lý và triển khai hạ tầng một cách tự động.</p>
                            <p>3. Giám sát và quản lý logs: Tối ưu hóa khả năng giám sát và theo dõi ứng dụng để nhanh chóng phát hiện và khắc phục sự cố.</p>
                            <p>4. Công cụ và nền tảng hiện đại: Làm việc với các công cụ phổ biến như Docker, Kubernetes, Jenkins, GitLab CI/CD, Prometheus, và Grafana.</p>
                    </div>
                </div>
            </div>
        </main>

        
        <!-- Footer-->
        <%- include('layouts/footer'); %>
        <%- include('layouts/scripts'); %>
    </body>
</html>
